<html>
<head>
  <title>Buyer Page</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Website CSS style -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <script src="/javascripts/buyer.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/web3.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SmartCart</a>
        </div>
        <p class="navbar-text navbar-right navbar-link" id="eth-amount">ETH</p>
      </div>
  </nav>
  <div id="productList">
    
  </div>
</body>
</html>